LearningKanji/LearningKanji/Service References/ServiceReference1/KanjiService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/LearningKanji.Web" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/LearningKanji.Web" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfKanjiObj">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KanjiObj" nillable="true" type="tns:KanjiObj" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKanjiObj" nillable="true" type="tns:ArrayOfKanjiObj" />
  <xs:complexType name="KanjiObj">
    <xs:sequence>
      <xs:element minOccurs="0" name="_mChinese" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_mHiragana" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_mID" type="xs:int" />
      <xs:element minOccurs="0" name="_mLessionID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_mLessionName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_mOrder" type="xs:int" />
      <xs:element minOccurs="0" name="_mVietnames" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_mVocabulary" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="KanjiObj" nillable="true" type="tns:KanjiObj" />
</xs:schema>