LearningKanji/LearningKanji/Service References/ServiceReference1/KanjiService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="LearningKanji.Web" elementFormDefault="qualified" targetNamespace="LearningKanji.Web" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8489/KanjiService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/LearningKanji.Web" />
  <xs:import schemaLocation="http://localhost:8489/KanjiService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetListKanji">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListKanjiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/LearningKanji.Web" minOccurs="0" name="GetListKanjiResult" nillable="true" type="q1:ArrayOfKanjiObj" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLessionName">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLessionNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetLessionNameResult" nillable="true" type="q2:ArrayOfKeyValueOfintstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>