LearningKanji/LearningKanji/Service References/ServiceReference1/KanjiService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="LearningKanji.Web" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="LearningKanji.Web" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="LearningKanji.Web/Imports">
      <xsd:import schemaLocation="http://localhost:8489/KanjiService.svc?xsd=xsd0" namespace="LearningKanji.Web" />
      <xsd:import schemaLocation="http://localhost:8489/KanjiService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8489/KanjiService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/LearningKanji.Web" />
      <xsd:import schemaLocation="http://localhost:8489/KanjiService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IKanjiService_GetListKanji_InputMessage">
    <wsdl:part name="parameters" element="tns:GetListKanji" />
  </wsdl:message>
  <wsdl:message name="IKanjiService_GetListKanji_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetListKanjiResponse" />
  </wsdl:message>
  <wsdl:message name="IKanjiService_GetLessionName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLessionName" />
  </wsdl:message>
  <wsdl:message name="IKanjiService_GetLessionName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLessionNameResponse" />
  </wsdl:message>
  <wsdl:message name="IKanjiService_GetListKanjiByLessionID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetListKanjiByLessionID" />
  </wsdl:message>
  <wsdl:message name="IKanjiService_GetListKanjiByLessionID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetListKanjiByLessionIDResponse" />
  </wsdl:message>
  <wsdl:portType name="IKanjiService">
    <wsdl:operation name="GetListKanji">
      <wsdl:input wsaw:Action="LearningKanji.Web/IKanjiService/GetListKanji" message="tns:IKanjiService_GetListKanji_InputMessage" />
      <wsdl:output wsaw:Action="LearningKanji.Web/IKanjiService/GetListKanjiResponse" message="tns:IKanjiService_GetListKanji_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLessionName">
      <wsdl:input wsaw:Action="LearningKanji.Web/IKanjiService/GetLessionName" message="tns:IKanjiService_GetLessionName_InputMessage" />
      <wsdl:output wsaw:Action="LearningKanji.Web/IKanjiService/GetLessionNameResponse" message="tns:IKanjiService_GetLessionName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetListKanjiByLessionID">
      <wsdl:input wsaw:Action="LearningKanji.Web/IKanjiService/GetListKanjiByLessionID" message="tns:IKanjiService_GetListKanjiByLessionID_InputMessage" />
      <wsdl:output wsaw:Action="LearningKanji.Web/IKanjiService/GetListKanjiByLessionIDResponse" message="tns:IKanjiService_GetListKanjiByLessionID_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>